<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fetch">
  <xacro:include filename="$(find fetch_description)/robots/macros.xacro"/>
  <xacro:freight_macro velocity_limit="17.4" />
  <xacro:fetch gripper_link_name="gripper_link"/>
  <xacro:gripper gripper_link_name="gripper_link"/>
</robot>
